body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e9f1;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.mobile-screen {
  position: relative;
  width: 416px;
  height: 736px;
  background: whitesmoke;
}

.image-container {
  position: relative;
  width: 415px;
  height: 540px;
  top: 2px;
  gap: 10px;
  border-radius: 29px 0px 0px 89px;
  opacity: 1;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 0px 32px;
  transition: transform 1s ease-in-out;
}

.first {
  position: absolute;
  width: 151px;
  height: 33.45px;
  top: 50px;
  left: 131px;
  background-color: transparent;
  z-index: 1;
}

.left-icon {
  position: relative;
  width: 2px;
  height: 24px;
  margin-top: 1px;
  margin-left: -120px;
  margin-right: 20px;
  padding: 6px 3px;
  object-fit: contain;
}

.main-icon {
  position: absolute;
  width: 120px;
  height: auto;
  left: 50px;
  top: 7px;
  margin-right: 20px;
  opacity: 1;
  object-fit: contain;
}

.image2-container {
  position: absolute;
  top: 671px;
  left: 293px;
  width: 83px;
  height: 39.26px;
  border-radius: 54.36px 0px 0px 0px;
  border: 0.5px solid;
  border-image-source: linear-gradient(
    271.88deg,
    #ffffff -19.49%,
    rgba(153, 153, 153, 0) 95.19%
  );
  backdrop-filter: blur(59.79px);
}

.image2-container img {
  width: 100%;
  height: 100%;
}

.text-container {
  display: flex;
  position: absolute;
  top: 580px;
  left: 27px;
  right: 27px;
  align-items: center;
}

.left-text {
  width: 44px;
  height: 57px;
  gap: 0px;
  opacity: 0px;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.04px;
  text-align: left;
  color: #212d2d;
  cursor: pointer;
}
.right-text {
  width: 247px;
  margin-left: 10px;
  height: 76px;
  gap: 0px;
  opacity: 0px;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 19.04px;
  text-align: left;
  color: #212d2d;
}

.divider {
  width: 1px;
  height: 70px;
  background-color: #212d2d;
}
